{{#each this}}
<li class="card-body">
    <h2 class=`card-title `> {{name}}</h2>
    <p>Capital: {{capital}}</p>
    <p>Population: {{population}}</p>
    <p>Languages:</p>
    <ul>
        {{#each languages}}
        <li>{{name}}</li>
        {{/each}}
    </ul>

    <img src="{{flag}}" alt="{{name}}" width="200">

</li>
{{/each}}